@import "tailwindcss";

@theme {
  /* Default */
  --color-primary: #1b1b1b;
  --color-secondary: #242424;
  --color-tertiary: #000000;
  --color-bg: #101010;
  --color-text: #8f8f8f;
  --color-hover: #e2e2e2;
  --color-accent: #aee7cb;
}

body {
  margin: 0;
}
